/* #d183c9,#454372,#176087 */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Inconsolata', monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
.hide {
  display: none;
}
/* ------------------------ HEADER */
h1 {
  margin-left: 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
}
#plant-power {
  width: 45px;
  height: 45px;
}

/* ------------------------ SUB_HEADER */
#sub-header {
  margin-left: 1rem;
}

/* ------------------------ FORM DATA*/
#form-data {
  padding: 2rem;
  border: 2px solid #1c1c1c;
  border-bottom: 3px solid #1b1b1b;
  border-radius: 20px;

  box-shadow: 0px 4px 3px 0px rgba(32, 113, 234, 0.7);
}

/* ------------------------ BUTTONS */
#controls {
  margin-top: 2rem;
}
#submit-data {
  background-color: rgba(19, 199, 19, 0.1);
  font-family: 'Inconsolata', monospace;

  padding: 0.5rem;
  border: 1px solid #1c1c1c;
  border-bottom: 2px solid #1b1b1b;
  border-radius: 10px;

  box-shadow: 0px 4px 3px 0px rgba(19, 199, 19, 0.7);
  transition: all 0.5s;
}

#reset {
  background-color: rgba(211, 23, 42, 0.1);
  font-family: 'Inconsolata', monospace;

  padding: 0.5rem;
  border: 1px solid #1c1c1c;
  border-bottom: 2px solid #1b1b1b;
  border-radius: 10px;

  box-shadow: 0px 4px 3px 0px rgba(211, 23, 42, 0.7);
  transition: all 0.5s;
}
#submit-data:hover,
#reset:hover {
  transform: translateY(-2%);
  cursor: pointer;
}

input {
  background-color: rgba(27, 102, 231, 0.1);
  padding: 0.5rem;
  border: 1px solid #1c1c1c;
  border-bottom: 2px solid #1b1b1b;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(27, 102, 231, 0.5);
}
input:focus {
  outline: 2px solid rgba(27, 102, 231, 0.5);
}
/* ------------------------ WARNINGS */
.warning {
  font-size: 14px;
  color: rgba(211, 23, 42, 0.9);
}
.highlight {
  background-color: rgba(230, 54, 66, 0.1);
  border: 1px solid rgba(230, 54, 66, 0.9);
  box-shadow: 0px 3px 2px 1px rgba(230, 54, 66, 0.7);

  transition: all 0.3s;
}
.highlight:focus {
  outline: 2px solid rgba(230, 54, 66, 0.5);
}

/* ------------------------ FOOTER */
#github {
  width: 20px;
  height: 20px;
}
#credits {
  margin-top: 1rem;
  margin-left: 1rem;
}

/* ----------------------------------------------------------------- PRIMITIVES ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */

/* ------------------------------------------------ CENTER / WIDTH  */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}

.width-smd {
  max-width: 25rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

/* ------------------------------------------------ MARGIN STACKS  */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

/* ------------------------------------------------ HORIZONTAL ALIGNEMENT  */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}

/* ------------------------------------------------ GRID  */
.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  /* gap: 1rem; */
  grid-template-columns: repeat(1, 1fr);
}

.column-lg {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
